a{
    color: black;
}
a:hover{
    color: green;
}

.bod{
        display:flex;
        flex-direction:column;
     }

.HolyGrail-body{
        display:flex;
        flex: auto;
     }
.asid{
    flex:1;
    order:-1;
}
.articl{
    flex:3;
    order: -1;
}
