a{
    color: black;
}
a:hover{
    color: green;
}


body{
        display:flex;
        flex-direction:column;
        border: 1px solid blue;
     }

main {
  display:flex;
  flex:auto;
}

aside{
    flex:1;
    background: pink;
    float: left;
}
article{
    flex:3;
    border: 1px solid blue;
    margin: 0 auto;
    text-align: center;
}

