a{
    color: black;
}
a:hover{
    color: green;
}

.HolyGrail-body {
  display: flex;
  flex: auto;
}

.bod{
        display:flex;
        flex-direction:column;
     }


.asid{
    flex:1;
    order:-1;
}
.articl{
    flex:3;
}
